input {
	@include border-top-radius(2px);
    @include border-bottom-radius(2px);
	display: inline-block;
	line-height: $fb-line-height;
    padding: $fb-padding !important;
    font-size: $fb-font-size !important;
    height: $fb-height;
    font-weight: normal;

    &.input-lg {
    }
}

textarea:focus, input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
select[multiple=multiple]:focus {
	border-color: #477DCA;
	box-shadow: none !important;
	outline: none;
}

input[type="text"]:disabled, input[type="email"]:disabled, input[type="search"]:disabled {
	background-color: rgba(0, 0, 0, .1);
	border: 1px solid rgba(0, 0, 0, .1);
	color: #999;
	cursor: not-allowed !important;
	pointer-events: none;
}