//z-index layers
$layer-1: 1;
$layer-2: 2;
$layer-3: 3;

//
$app-max-width: 1000px;
$app-min-width: 700px;
$header-height: 60px;

//FONTS
$sans-serif: 'Rodio', 'Helvetica Neue', helvertica, arial, sans-serif;
$base-paragraph-color: #2a3333; //try #53454A

//color variables
$orange: #EDB05C; //pastel orange
$pastel-green: #89BBAC;
$green: #3dba0f; //lime green
$red: #E9704E; //pastel red
$blue: #0072ff; //bright blue

//template colors
$primary: darken($pastel-green,10); //green
$secondary: lighten($pastel-green,10); //lighter green
$special: $red;
$support-color: $orange;

//forms & buttons
$fb-height: 40px;
$fb-line-height: 20px;
$fb-padding: 10px 14px;
$fb-font-size: 16px;